docs/Bellory - Suporte Chat IA.json
{
  "name": "Bellory - Suporte Chat IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suporte",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "499cefde-5a8e-49c4-b366-c0305e0ca76b",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        -48
      ],
      "webhookId": "suporte"
    },
    {
      "parameters": {
        "jsCode": "// Extrai e formata os dados da requisição\nconst body = $input.first().json.body;\n\nconst mensagem = body.mensagem || '';\nconst modulo = body.modulo || {};\nconst organizacao = body.organizacao || {};\nconst usuario = body.usuario || {};\nconst apiKey = body.apiKey || '';\nconst historico = body.historico || [];\n\n// Gera sessionId único por organização + usuário\nconst sessionId = `${organizacao.id || 'unknown'}_${usuario.id || 'unknown'}`;\n\n// Monta o histórico formatado para o prompt\nconst historicoFormatado = historico\n  .map(h => `${h.remetente === 'usuario' ? 'Usuário' : 'Assistente'}: ${h.texto}`)\n  .join('\\n');\n\n// Monta o contexto do sistema\nconst contextoSistema = [\n  `Módulo atual: ${modulo.nome || 'Não identificado'}`,\n  `Descrição do módulo: ${modulo.descricao || 'N/A'}`,\n  `Rota: ${modulo.rota || 'N/A'}`,\n  `Organização: ${organizacao.nome || 'N/A'} (ID: ${organizacao.id || 'N/A'})`,\n  `Tenant ID: ${organizacao.tenantId || 'N/A'}`,\n  `Usuário: ${usuario.nome || 'N/A'} (${usuario.email || 'N/A'})`,\n  `Role: ${usuario.role || 'N/A'}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    sessionId,\n    chatInput: mensagem,\n    mensagem,\n    contextoSistema,\n    historicoFormatado,\n    modulo,\n    organizacao,\n    usuario,\n    apiKey\n  }\n}];"
      },
      "id": "b55cf2a6-6b1e-4519-8eb1-403b26f1e654",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "id": "20ddb4e3-1843-4ecc-8d3d-1e181d83714c",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Você é o assistente virtual de suporte da Bellory, uma plataforma SaaS para barbearias e salões de beleza.\n\n## Suas responsabilidades:\n- Ajudar o usuário a utilizar o sistema Bellory\n- Responder dúvidas sobre funcionalidades do módulo em que ele está\n- Guiar o usuário passo a passo quando necessário\n- Ser objetivo e direto nas respostas\n\n## Contexto atual:\n{{ $json.contextoSistema }}\n\n## Módulos do sistema Bellory:\n- **Dashboard**: Painel com métricas, gráficos de faturamento, agendamentos do dia e resumos gerais\n- **Agendamento**: Calendário de agendamentos, criação/edição de horários, filtros por colaborador/serviço/status, configurações de agendamento. Para agendar um serviço manualmente, o colaborador precisa ter todos os serviços que ele ira fazer, vinculados a ele (pode ser acessado em colaborador selecionar o colaborador especificado, e em colaborador detalhes, ir em Serviços. Por padrão o só ira listar os serviços vinculados, desmarvar a opção e selecionar os serviços desejados), e o colaborador também precisa ter o plano de horario definido ( no mesmo caminho do anterior, porem procurar a opção Plano de Horario, e criar ou editar o plano de horario do colaborador).\n- **Serviços**: Cadastro e gestão de serviços oferecidos, categorias, preços e duração\n- **Colaboradores**: Gestão de funcionários, horários de trabalho, comissões e perfil individual\n- **Clientes**: Base de clientes, histórico de atendimentos, perfil detalhado\n- **E-commerce/Produtos**: Catálogo de produtos para venda, estoque e preços\n- **Financeiro**: Fluxo de caixa, receitas, despesas e relatórios financeiros\n- **Relatórios**: Análises e métricas detalhadas do negócio\n- **Notificações**: Central de notificações e lembretes automáticos\n- **Configurações**: Dados da empresa, personalização, landing pages, WhatsApp, API keys, questionários\n- **Assinatura**: Gestão do plano, upgrade/downgrade, pagamentos\n\n## Regras:\n1. Responda SEMPRE em português brasileiro\n2. Seja conciso, mas completo — evite respostas genéricas\n3. Se não souber a resposta, diga que vai encaminhar para o suporte humano\n4. Nunca invente funcionalidades que não existam\n5. Use **negrito** para destacar nomes de botões, menus ou ações importantes\n6. Se o usuário pedir algo que envolve ação técnica (ex: alterar dados via API), oriente-o sem executar\n7. Considere o role do usuário para adaptar a resposta (ADMIN tem acesso total, FUNCIONARIO tem acesso limitado)\n8. Não repita informações do histórico — seja contextual\n9. Quando for descrever funcionalidades de um modulo, crie uma lista de passo a passo.\n10. Sempre formte as mensagens com a formatação de texto do whastapp."
        }
      },
      "id": "fed8ee19-0062-4489-88c3-5f4bc421ce23",
      "name": "Agente IA Suporte",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        192,
        -48
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId",
        "contextWindowLength": 20
      },
      "id": "2e3c80e1-5c11-4841-accc-3bfbda6e79b8",
      "name": "Memória da Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai a resposta do agente e formata para o frontend\nconst output = $input.first().json;\n\nconst resposta = output.output || output.text || output.response || 'Desculpe, não consegui gerar uma resposta.';\n\nreturn [{\n  json: {\n    resposta\n  }\n}];"
      },
      "id": "9b9a2a5b-cf8e-4f9c-98db-d35662e2d07d",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "01226e3e-b5c9-41f8-9dec-f9e1be53eb7c",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ resposta: 'Ops! Ocorreu um erro interno no processamento. Tente novamente.' }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "eedea410-c9c3-4c30-88d5-bb90d8874993",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        -304
      ]
    },
    {
      "parameters": {
        "name": "buscar_knowledge_base",
        "description": "Busca informações na base de conhecimento técnico do CRM e da telefonia. SEMPRE use esta ferramenta ANTES de responder qualquer pergunta técnica. Ela consulta manuais, documentações, troubleshooting e FAQs. Envie como input a pergunta ou o problema técnico descrito pelo cliente, reformulado de forma clara.\nResponda somente com base nas informações encontradas na base de conhecimento, se não encontrar retornar uma mensagem de conteúdo não localizado.",
        "topK": 5
      },
      "id": "a8f32d8b-d7c6-4b79-bbae-146fcc1c61ef",
      "name": "Tool RAG KB",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        320,
        160
      ]
    },
    {
      "parameters": {
        "tableName": "document_chunks",
        "options": {}
      },
      "id": "9d91bc3b-8c50-43a4-8a2b-85c7899ba4b7",
      "name": "PGVector Retrieve",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        240,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "c1ece256-e3ae-4996-b3e2-acf237892d0e",
      "name": "Embeddings Retrieve",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        656
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        416
      ],
      "id": "f906f09b-1833-4820-8c62-2e1cbdbd1e51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "consultar_dashboard",
        "description": "Use essa tool quando o cliente pedir para analisar os dados do dashboard do cliente, vocë ira consultar as informações, e tera o json com os dados. Consulte a base de conhecimento para contexto de como os dados sáo apresentados para o cliente e gere uma explicação dos dados de forma simples e facil para o cliente entender.",
        "workflowId": "QEGQzFnwRPQqxspK"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        672,
        160
      ],
      "id": "0330104d-22e6-4995-a9f5-ca1fc5c4d64d",
      "name": "Tool: Consultar Dashboard"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "Agente IA Suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Suporte",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória da Conversa": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Suporte",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Suporte": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Retrieve": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool RAG KB",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Retrieve": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Retrieve",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tool RAG KB",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool RAG KB": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Suporte",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "508ca136-1272-4359-a7eb-e8d48258969c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "id": "6GLSF7FvVNOOoTLT",
  "tags": []
}