docs/Bellory - Suporte Chat Principal.json
{
  "name": "Bellory - Suporte Chat Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suporte",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "499cefde-5a8e-49c4-b366-c0305e0ca76b",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "suporte"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst mensagem = body.mensagem || '';\nconst sessionId = body.sessionId || null;\nconst modulo = body.modulo || {};\nconst organizacao = body.organizacao || {};\nconst usuario = body.usuario || {};\nconst apiKey = body.apiKey || '';\nconst imagens = body.imagens || [];\nconst historico = body.historico || [];\n\nconst historicoFormatado = historico\n  .map(h => `${h.remetente === 'usuario' ? 'Usuário' : 'Assistente'}: ${h.texto}`)\n  .join('\\n');\n\nconst contextoSistema = [\n  `Módulo atual: ${modulo.nome || 'Não identificado'}`,\n  `Descrição do módulo: ${modulo.descricao || 'N/A'}`,\n  `Rota: ${modulo.rota || 'N/A'}`,\n  `Organização: ${organizacao.nome || 'N/A'} (ID: ${organizacao.id || 'N/A'})`,\n  `Tenant ID: ${organizacao.tenantId || 'N/A'}`,\n  `Usuário: ${usuario.nome || 'N/A'} (${usuario.email || 'N/A'})`,\n  `Role: ${usuario.role || 'N/A'}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    sessionId,\n    chatInput: mensagem,\n    mensagem,\n    contextoSistema,\n    historicoFormatado,\n    modulo,\n    organizacao,\n    usuario,\n    imagens,\n    apiKey\n  }\n}];"
      },
      "id": "b55cf2a6-6b1e-4519-8eb1-403b26f1e654",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.sessoes WHERE id = '{{ $json.sessionId }}' AND status IN ('ativo', 'transferido') AND ultima_mensagem_em > NOW() - INTERVAL '30 minutes' LIMIT 1",
        "options": {
          "queryReplacement": "{{ $json.sessionId }}",
          "outputColumns": "",
          "nodeVersion": 2.5
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000003",
      "name": "Buscar Sessao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-320, 0],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst dados = $('Processar Dados').first().json;\n\n// Verifica se a query do Postgres retornou uma sessão válida\nconst hasSession = items.length > 0 && items[0].json && items[0].json.id;\n\nlet sessionId;\nlet modo;\nlet tentativas_falhas;\nlet isNew = false;\n\nif (hasSession) {\n  const sessao = items[0].json;\n  sessionId = sessao.id;\n  modo = sessao.modo || 'ia';\n  tentativas_falhas = sessao.tentativas_falhas || 0;\n} else {\n  // Usa o sessionId que o cliente enviou\n  sessionId = dados.sessionId;\n  if (!sessionId) {\n    sessionId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n      const r = Math.random() * 16 | 0;\n      const v = c === 'x' ? r : (r & 0x3 | 0x8);\n      return v.toString(16);\n    });\n  }\n  modo = 'ia';\n  tentativas_falhas = 0;\n  isNew = true;\n}\n\nreturn [{\n  json: {\n    sessionId,\n    modo,\n    tentativas_falhas,\n    isNew,\n    chatInput: dados.chatInput,\n    mensagem: dados.mensagem,\n    contextoSistema: dados.contextoSistema,\n    historicoFormatado: dados.historicoFormatado\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000004",
      "name": "Criar ou Reutilizar Sessao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.sessoes (id, organizacao_id, organizacao_nome, organizacao_tenant, usuario_id, usuario_nome, usuario_email, modulo, assunto, status, modo, tentativas_falhas, criado_em, atualizado_em, ultima_mensagem_em)\nVALUES (\n  '{{ $json.sessionId }}',\n  {{ $('Processar Dados').item.json.organizacao.id || 'NULL' }},\n  '{{ ($('Processar Dados').item.json.organizacao.nome || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processar Dados').item.json.organizacao.tenantId || '').replace(/'/g, \"''\") }}',\n  {{ $('Processar Dados').item.json.usuario.id || 'NULL' }},\n  '{{ ($('Processar Dados').item.json.usuario.nome || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processar Dados').item.json.usuario.email || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processar Dados').item.json.modulo.nome || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processar Dados').item.json.mensagem || '').substring(0, 200).replace(/'/g, \"''\") }}',\n  'ativo',\n  '{{ $json.modo }}',\n  {{ $json.tentativas_falhas }},\n  NOW(), NOW(), NOW()\n)\nON CONFLICT (id) DO UPDATE SET\n  ultima_mensagem_em = NOW(),\n  atualizado_em = NOW()",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000005",
      "name": "Upsert Sessao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [160, 0],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.mensagens (sessao_id, autor, conteudo, criado_em)\nVALUES (\n  '{{ $('Criar ou Reutilizar Sessao').item.json.sessionId }}',\n  'cliente',\n  '{{ ($('Processar Dados').item.json.mensagem || '').replace(/'/g, \"''\") }}',\n  NOW()\n)",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000006",
      "name": "Salvar Msg Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 0],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $('Criar ou Reutilizar Sessao').item.json.modo }}", "rightValue": "ia", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": "IA"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $('Criar ou Reutilizar Sessao').item.json.modo }}", "rightValue": "humano", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": "Humano"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000007",
      "name": "Modo do Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [640, 0]
    },
    {
      "parameters": {
        "jsCode": "// Prepara os dados para alimentar o Agente IA\nconst sessao = $('Criar ou Reutilizar Sessao').first().json;\nconst dados = $('Processar Dados').first().json;\n\nreturn [{\n  json: {\n    sessionId: sessao.sessionId,\n    chatInput: dados.chatInput,\n    contextoSistema: dados.contextoSistema,\n    historicoFormatado: dados.historicoFormatado\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000020",
      "name": "Preparar para IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -120]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "id": "20ddb4e3-1843-4ecc-8d3d-1e181d83714c",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1000, 100],
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Você é o assistente virtual de suporte da Bellory, uma plataforma SaaS para barbearias e salões de beleza.\n\n## Suas responsabilidades:\n- Ajudar o usuário a utilizar o sistema Bellory\n- Responder dúvidas sobre funcionalidades do módulo em que ele está\n- Guiar o usuário passo a passo quando necessário\n- Ser objetivo e direto nas respostas\n\n## Contexto atual:\n{{ $json.contextoSistema }}\n\n## Módulos do sistema Bellory:\n- **Dashboard**: Painel com métricas, gráficos de faturamento, agendamentos do dia e resumos gerais\n- **Agendamento**: Calendário de agendamentos, criação/edição de horários, filtros por colaborador/serviço/status, configurações de agendamento. Para agendar um serviço manualmente, o colaborador precisa ter todos os serviços que ele ira fazer, vinculados a ele (pode ser acessado em colaborador selecionar o colaborador especificado, e em colaborador detalhes, ir em Serviços. Por padrão o só ira listar os serviços vinculados, desmarvar a opção e selecionar os serviços desejados), e o colaborador também precisa ter o plano de horario definido ( no mesmo caminho do anterior, porem procurar a opção Plano de Horario, e criar ou editar o plano de horario do colaborador).\n- **Serviços**: Cadastro e gestão de serviços oferecidos, categorias, preços e duração\n- **Colaboradores**: Gestão de funcionários, horários de trabalho, comissões e perfil individual\n- **Clientes**: Base de clientes, histórico de atendimentos, perfil detalhado\n- **E-commerce/Produtos**: Catálogo de produtos para venda, estoque e preços\n- **Financeiro**: Fluxo de caixa, receitas, despesas e relatórios financeiros\n- **Relatórios**: Análises e métricas detalhadas do negócio\n- **Notificações**: Central de notificações e lembretes automáticos\n- **Configurações**: Dados da empresa, personalização, landing pages, WhatsApp, API keys, questionários\n- **Assinatura**: Gestão do plano, upgrade/downgrade, pagamentos\n\n## Regras:\n1. Responda SEMPRE em português brasileiro\n2. Seja conciso, mas completo — evite respostas genéricas\n3. Se não souber a resposta, diga que vai encaminhar para o suporte humano\n4. Nunca invente funcionalidades que não existam\n5. Use **negrito** para destacar nomes de botões, menus ou ações importantes\n6. Se o usuário pedir algo que envolve ação técnica (ex: alterar dados via API), oriente-o sem executar\n7. Considere o role do usuário para adaptar a resposta (ADMIN tem acesso total, FUNCIONARIO tem acesso limitado)\n8. Não repita informações do histórico — seja contextual\n9. Quando for descrever funcionalidades de um modulo, crie uma lista de passo a passo.\n10. Sempre formte as mensagens com a formatação de texto do whastapp."
        }
      },
      "id": "fed8ee19-0062-4489-88c3-5f4bc421ce23",
      "name": "Agente IA Suporte",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, -120]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId",
        "contextWindowLength": 20
      },
      "id": "2e3c80e1-5c11-4841-accc-3bfbda6e79b8",
      "name": "Memória da Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1080, 100]
    },
    {
      "parameters": {
        "name": "buscar_knowledge_base",
        "description": "Busca informações na base de conhecimento técnico do CRM e da telefonia. SEMPRE use esta ferramenta ANTES de responder qualquer pergunta técnica. Ela consulta manuais, documentações, troubleshooting e FAQs. Envie como input a pergunta ou o problema técnico descrito pelo cliente, reformulado de forma clara.\nResponda somente com base nas informações encontradas na base de conhecimento, se não encontrar retornar uma mensagem de conteúdo não localizado.",
        "topK": 5
      },
      "id": "a8f32d8b-d7c6-4b79-bbae-146fcc1c61ef",
      "name": "Tool RAG KB",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [1240, 100]
    },
    {
      "parameters": {
        "tableName": "document_chunks",
        "options": {}
      },
      "id": "9d91bc3b-8c50-43a4-8a2b-85c7899ba4b7",
      "name": "PGVector Retrieve",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [1200, 320],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "c1ece256-e3ae-4996-b3e2-acf237892d0e",
      "name": "Embeddings Retrieve",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1200, 500],
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1400, 320],
      "id": "f906f09b-1833-4820-8c62-2e1cbdbd1e51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qyQQ5ZNt8xIXySJ4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "consultar_dashboard",
        "description": "Use essa tool quando o cliente pedir para analisar os dados do dashboard do cliente, vocë ira consultar as informações, e tera o json com os dados. Consulte a base de conhecimento para contexto de como os dados sáo apresentados para o cliente e gere uma explicação dos dados de forma simples e facil para o cliente entender.",
        "workflowId": "QEGQzFnwRPQqxspK"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [1400, 100],
      "id": "0330104d-22e6-4995-a9f5-ca1fc5c4d64d",
      "name": "Tool: Consultar Dashboard"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst respostaIA = output.output || output.text || output.response || 'Desculpe, não consegui gerar uma resposta.';\nconst sessionId = $('Criar ou Reutilizar Sessao').first().json.sessionId;\nlet tentativas_falhas = $('Criar ou Reutilizar Sessao').first().json.tentativas_falhas || 0;\n\n// Palavras-chave que indicam que a IA não conseguiu resolver\nconst keywordsFalha = [\n  'não consegui',\n  'não sei',\n  'não encontrei',\n  'encaminhar para o suporte',\n  'suporte humano',\n  'não tenho informação',\n  'conteúdo não localizado',\n  'não possuo informações',\n  'não tenho como ajudar'\n];\n\nconst falhou = keywordsFalha.some(kw => respostaIA.toLowerCase().includes(kw));\nif (falhou) tentativas_falhas += 1;\n\nconst transferido = tentativas_falhas >= 3;\n\nreturn [{\n  json: {\n    respostaIA,\n    sessionId,\n    tentativas_falhas,\n    transferido,\n    falhou\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000009",
      "name": "Avaliar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, -120]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.mensagens (sessao_id, autor, conteudo, criado_em)\nVALUES ('{{ $json.sessionId }}', 'agente', '{{ $json.respostaIA.replace(/'/g, \"''\") }}', NOW());\n\nUPDATE public.sessoes SET\n  tentativas_falhas = {{ $json.tentativas_falhas }},\n  status = CASE WHEN {{ $json.transferido }} THEN 'transferido' ELSE status END,\n  modo = CASE WHEN {{ $json.transferido }} THEN 'humano' ELSE modo END,\n  motivo_transferencia = CASE WHEN {{ $json.transferido }} THEN 'IA não conseguiu resolver após 3 tentativas' ELSE motivo_transferencia END,\n  atualizado_em = NOW(),\n  ultima_mensagem_em = NOW()\nWHERE id = '{{ $json.sessionId }}'",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000010",
      "name": "Salvar Resposta e Atualizar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, -120],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $('Avaliar Resposta IA').item.json.transferido }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
                "combinator": "and"
              },
              "renameOutput": "Transferir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000011",
      "name": "Verificar Transferencia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1980, -120]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.transferencias (sessao_id, email_destino, motivo, criado_em)\nVALUES ('{{ $('Avaliar Resposta IA').item.json.sessionId }}', 'guilhermeoliveira1998@gmail.com', 'IA não conseguiu resolver após 3 tentativas', NOW());\n\nINSERT INTO public.mensagens (sessao_id, autor, conteudo, criado_em)\nVALUES ('{{ $('Avaliar Resposta IA').item.json.sessionId }}', 'sistema', 'Atendimento transferido para um atendente humano.', NOW());",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000012",
      "name": "Registrar Transferencia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, -300],
      "credentials": {
        "postgres": {
          "id": "lPGdtsBbIuYx6qzc",
          "name": "bellory_suporte"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ resposta: $('Avaliar Resposta IA').item.json.respostaIA + '\\n\\nSeu atendimento foi transferido para um atendente humano. Aguarde.', sessionId: $('Avaliar Resposta IA').item.json.sessionId, modo: 'humano', transferido: true }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000015",
      "name": "Responder Transferido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2460, -300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ resposta: $('Avaliar Resposta IA').item.json.respostaIA, sessionId: $('Avaliar Resposta IA').item.json.sessionId, modo: 'ia', transferido: false }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000016",
      "name": "Responder IA OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 60]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ resposta: 'Sua mensagem foi enviada ao atendente. Por favor, aguarde a resposta.', sessionId: $('Criar ou Reutilizar Sessao').item.json.sessionId, modo: 'humano', transferido: false }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000018",
      "name": "Responder Humano OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ resposta: 'Ops! Ocorreu um erro interno no processamento. Tente novamente.', sessionId: '', modo: 'ia', transferido: false }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "eedea410-c9c3-4c30-88d5-bb90d8874993",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, -400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Entrada": {
      "main": [[{ "node": "Processar Dados", "type": "main", "index": 0 }]]
    },
    "Processar Dados": {
      "main": [[{ "node": "Buscar Sessao", "type": "main", "index": 0 }]]
    },
    "Buscar Sessao": {
      "main": [[{ "node": "Criar ou Reutilizar Sessao", "type": "main", "index": 0 }]]
    },
    "Criar ou Reutilizar Sessao": {
      "main": [[{ "node": "Upsert Sessao", "type": "main", "index": 0 }]]
    },
    "Upsert Sessao": {
      "main": [[{ "node": "Salvar Msg Cliente", "type": "main", "index": 0 }]]
    },
    "Salvar Msg Cliente": {
      "main": [[{ "node": "Modo do Atendimento", "type": "main", "index": 0 }]]
    },
    "Modo do Atendimento": {
      "main": [
        [{ "node": "Preparar para IA", "type": "main", "index": 0 }],
        [{ "node": "Responder Humano OK", "type": "main", "index": 0 }]
      ]
    },
    "Preparar para IA": {
      "main": [[{ "node": "Agente IA Suporte", "type": "main", "index": 0 }]]
    },
    "Gemini Model": {
      "ai_languageModel": [[{ "node": "Agente IA Suporte", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memória da Conversa": {
      "ai_memory": [[{ "node": "Agente IA Suporte", "type": "ai_memory", "index": 0 }]]
    },
    "Tool RAG KB": {
      "ai_tool": [[{ "node": "Agente IA Suporte", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: Consultar Dashboard": {
      "ai_tool": [[{ "node": "Agente IA Suporte", "type": "ai_tool", "index": 1 }]]
    },
    "PGVector Retrieve": {
      "ai_vectorStore": [[{ "node": "Tool RAG KB", "type": "ai_vectorStore", "index": 0 }]]
    },
    "Embeddings Retrieve": {
      "ai_embedding": [[{ "node": "PGVector Retrieve", "type": "ai_embedding", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Tool RAG KB", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente IA Suporte": {
      "main": [[{ "node": "Avaliar Resposta IA", "type": "main", "index": 0 }]]
    },
    "Avaliar Resposta IA": {
      "main": [[{ "node": "Salvar Resposta e Atualizar", "type": "main", "index": 0 }]]
    },
    "Salvar Resposta e Atualizar": {
      "main": [[{ "node": "Verificar Transferencia", "type": "main", "index": 0 }]]
    },
    "Verificar Transferencia": {
      "main": [
        [{ "node": "Registrar Transferencia", "type": "main", "index": 0 }],
        [{ "node": "Responder IA OK", "type": "main", "index": 0 }]
      ]
    },
    "Registrar Transferencia": {
      "main": [[{ "node": "Responder Transferido", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "merged-v1-2026-03-22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "id": "suporte-principal-merged",
  "tags": []
}
